.app {
  display: flex;
}

.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  cursor: e-resize;
  width: 10px;
  height: 100vh;
  right: 0;
}

.MuiSvgIcon-root {
  font-size: 1.2rem !important;
}