.note__wrap {
    background-color: #F5F5F4;
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.note__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;   
    margin-bottom: 8px; 
}


.note_header__center {
    padding-left: 10px;
    padding-right: 10px;
}

.note_header__left > .note_header__icon {
    display: flex;
    align-items: center;
}

.note_header__left > .MuiSvgIcon-root {
    cursor: pointer;
}
.note_header__left > .MuiSvgIcon-root:hover {
    color: #3689e6;
}


.note_header__right > .MuiSvgIcon-root {
    cursor: pointer;
}

.note_header__right > .MuiSvgIcon-root:hover {
    color: #3689e6;
}

.note_header__search {
    display: flex;
    align-items: center;
    color: #d4d4d4;
    background-color: white;
    border-radius: 5px;
    padding: 3px;
    padding-right: 8px;
}

.note_header__search > input {
    background-color: transparent;
    outline-width: 0;
    color: black;
    border: none;
    width: 100vh;
}

.note__title {
    padding: 10px 12px 10px 12px;
}

.note__body {
    padding: 12px;
    border: 2px solid transparent;
    border-bottom: 1px solid #d4d4d4;
}

.note__body:hover {
    background-color: #2E91F8;
    color: white;
    box-shadow: inset 0 0 8px rgb(45, 122, 204);
    -moz-box-shadow:    inset 0 0 8px rgb(45, 122, 204);
    -webkit-box-shadow: inset 0 0 8px rgb(45, 122, 204);
}


.note__body:hover > span {
    color: white;
}

.note__body > div {
    margin-bottom: 10px;
}

.note__body > p {
    margin-bottom: 8px;
}

.note__body > span {
    font-size: 12px
}

.note__body > .note__update {
    color: #2E91F8;
    margin-right: 6px;
}

.note__body_title {
    display: flex;
    align-items: center;
}

.note__body_title > .MuiSvgIcon-root {
    margin-right: 8px;
}

.note__category {
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    color: #4d4d4d;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 6px;
}

