.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #161A20;
}

.react-resizable {
    position: relative;
}

.react-resizable-handle {
    position: absolute;
    cursor: e-resize;
    width: 10px;
    height: 100vh;
    right: 0;
}
.sidebar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #161A20;
    color: white;
    /* border-bottom: 3px solid #26282c; */
}

.sidebar__notes {
    flex: 1;
}

.sidebar__notes > a {
    text-decoration: none;
}

.sidebar__addNotes {
    cursor: pointer;
}

.sidebar__addNotes:hover {
    color: white;
}

.sidebar__notesHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #161A20;
}

.sidebar__notesHeader .MuiSvgIcon-root {
    color: #abacae;
}

.sidebar__notesHeader h4 {
    color: #C0C3C8;
    font-style: normal;
}

.sidebar__header {
    display: flex;
    align-items: center;
    margin-left: 7px;
}

.sidebar__header > h4 {
    padding-left: 10px;
}

.side__cursor:hover {
    cursor: pointer;
}

.side_active {
    background-color:  red;
}

.active {
    background-color: #373F50;
}