
.detailNoteBtn {
    display: none;
    align-items: center;

    border: 2px solid gray;
    border-radius: 20px;
    width: 58px;
    text-align: center;
    color: gray;
    font-size: 12px;
    padding: 4px;
}

.detailNoteBtn:hover {
    color: white;
    border-color: white;
}

.sidebarNote {
    cursor: pointer;
    padding-left: 34px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
}

.sidebarNote > .sidebarNote_text {
    display: inline-block;
    height: auto;
    padding-left: 18px;
    align-items: center;
    background-color: #161A20;
    color: gray;
    cursor: pointer;
    font-weight: 400;
    margin-right: -400px;
}

.sidebarNote:hover > .sidebarNote_text_hidden > .detailNoteBtn{
    display: block;
}

.sidebarNote:hover > .sidebarNote_text_hidden > .sidebar__counter_hover{
    display: none;
}

.sidebarNote_text_hidden {
    display: flex;
    align-items: center;
    width: 58px;
    height: 20px;
}

.sidebar__counter {
    color: gray;
    font-size: 12px;
    
}

.sidebar__counter_hover {
    color: gray;
    font-size: 12px;
    margin-left: 45px;
}